.listItemContainer {
    width: 900px;
    padding: 2px;
    /* border: 1px solid black; */
    margin: auto;
    margin-bottom: 10px;
}

.listItem {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    height: 150px;
    border: 1px solid #424242;
    box-sizing: border-box;
    border-radius: 1px 1px 1px 1px;
    background-color: #A4A4A4;
}

.outerPic {
    display: flex;
    flex-basis: 0px;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    margin-right: 30px;
}

.innerPic {
    position: relative;
    display: block;
    flex-shrink: 0;
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    box-sizing: border-box;
}

.imgContainer {
    border-radius: 0%;
    box-sizing: border-box;
    height: 100%;
    ;
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
}

.carPicture {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    object-fit: contain;
}

.info {
    display: flex;
    flex-basis: 30px;
    flex-direction: column;
    flex-grow: 3;
    flex-shrink: 1;
    -webkit-box-flex: 3;
    padding: 5px;
    margin: 0px;
    font-size: 18px;
}

.infoHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    margin-bottom: 20px;
    align-items: center;
    box-sizing: border-box;
}

.headerItem {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 28px;
    font-stretch: 100%;
    font-weight: 300;
    font-family: "Lucida Console", Monaco, monospace;
}

.headerItem.firstItem {
    margin-left: 0px;
}

.infoDetails {
    display: block;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: left;
}

.detailItem {
    display: inline;
    font: inherit;
    font-weight: 600;
    margin: 0px;
}

.detailAttribute {
    font: inherhit;
}

.continue {
    width: 100px;
    height: 100%;
    margin: auto;
    border-radius: 1px;
    text-align: center;
}

.continue:hover {
    background-color: #424242;
    color: #A4A4A4;
}